/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {}

	.widgettitle {}

	.widget {

		ul {

			li {

				&:first-child {}

				&:last-child {}

				a {}

				/* deep nesting */
				ul {}

			}

		}

	}

	.no-widgets {
		background-color: $white;
		padding: 1.5em;
		text-align: center;
		border: 1px solid $border-color;
		border-radius: 2px;
		margin-bottom: 1.5em;
	}