/*********************
POSTS & CONTENT STYLES
*********************/
#content {}

.post {
	margin-bottom: 1em;
	header {
		
	}

	footer {


		p {
			margin: 0;
		}
	}

} /* end .hentry */

//feature-thumb
.feature-thumb {
	display: block;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center center;
	@include filter(grayscale(100%));
	@extend .transition-slow;
	&:hover {
		background-size: 120%;
		@include filter(grayscale(0%));
	}
}
//entry title
.entry-title {
	margin-bottom: 0;
}
//entry meta
.entry-meta {
	margin: 0;
	font-size: .9em;
	font-style: italic;
	color: $gray;
}
.article-header {
	padding: 0 1.5em;
}
.article-footer {
	padding: 0 1.5em 1.5em 1.5em;
}
/* entry content */
.entry-content {
	padding: 1.5em;
	font-size: 22px;
	p {
		margin: 0 0 1.5em;
	}


	ul, ol, table, dl {}

	ul, ol {

		li {}

	}

	ul {

		li {}

	}

	ol {

		li {}

	}

	table {
		width: 100%;
		border: 1px solid $gray;
		margin-bottom: 1.5em;

		caption {
			margin: 0 0 7px;
			font-size: 0.75em;
			color: $meta-gray;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}

	tr {
		border-bottom: 1px solid $gray;

		&:nth-child(even) {
			background-color: $light-gray;
		}
	}

	td {
		padding: 7px;
		border-right: 1px solid $gray;

		&:last-child {
			border-right: 0;
		}
	}

	th {
		background-color: $light-gray;
		border-bottom: 1px solid $gray;
		border-right: 1px solid $gray;

		&:last-child {
			border-right: 0;
		}
	}

	blockquote {
		margin: 0 0 1.5em 0.75em;
		padding: 0 0 0 0.75em;
		border-left: 3px solid $blue;
		font-style: italic;
		color: $meta-gray;

		&:before {}

	}

	dl {}

	dt {}

	dd {
		margin-left: 0;
		font-size: 0.9em;
		color: #787878;
		margin-bottom: 1.5em;
	}

	img {
		margin: 0 0 1.5em 0;
		max-width: 100%;
		height: auto;
	}

	/*
	image alignment on a screen this size may be
	a bit difficult. It's set to start aligning
	and floating images at the next breakpoint,
	but it's up to you. Feel free to change it up.
	*/
	.alignleft, img.alignleft {}
	.alignright, img.alignright {}
	.aligncenter, img.aligncenter {}

	.size-auto,
	.size-full,
	.size-large,
	.size-medium,
	.size-thumbnail {
		max-width: 100%;
		height: auto;
	}

	pre {
		background: $black;
		color: $light-gray;
		font-size: 0.9em;
		padding: 1.5em;
		margin: 0 0 1.5em;
		border-radius: 3px;
	}

} /* end .entry-content */

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;

	/* images inside wp-caption */
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}

} /* end .wp-caption */

/* image gallery styles */
.gallery {

	dl {

		a {}

		img {}

	}

	dt {}

	dd {}

} /* end .gallery */

/* gallery caption styles */
.gallery-caption {}

.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

// the tag output
.tags {
	margin: 0;
}

/* home page */
.home {
	.wrap {
		@include box-sizing(border-box);
		padding: 0 1em;
	}
	img {
		width: 100%;
	}
	//Masonry Setting
	.masonry-wrapper {
		@extend .clr;
	}
	.post {
		width: 100%;
	}
	.post-sizing {
		width: 100%;
	}
	.post-gutter {
		width: 0;
	}
}

//Single
.single, .page {
	.article-header {
		position: relative;
		height: 80vh;
		font-size: 0;
		text-align: center;
		
		&:before {
			content:'';
			height: 100%;
			width: 0;
			display: inline-block;
			vertical-align: middle;
		}
		&:hover {
			.overlay {
				@include filter(brightness(70%));
			}
		}
		.overlay {
			@extend .transition;
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			z-index: -1;
			@include filter(brightness(50%));
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}
		.article-heder-inner {
			display: inline-block;
			vertical-align: middle;
			color: $white;
		}
		.entry-title {
			font-size: 3rem;
		}
		.entry-meta {
			font-size: .9rem;
			color: $white;
		}
	}
	.article-footer {
		text-align: center;
		font-size: .8em;
		font-style: italic;
		color: $dark-gray;
	}
}
